body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0202+0,323232+20,323232+80,000000+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(left, #000000 0%, #323232 20%, #323232 80%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #000000 0%,#323232 20%,#323232 80%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #000000 0%,#323232 20%,#323232 80%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

#wrapper{
    position:relative; /* needed for footer positioning*/
	height:auto !important; /* real browsers */
	min-height:100%; /* real browsers */
}

@font-face{
    font-family: Header-main;
    src: url('./../fonts/theleagueof-league-gothic-64c3ede/webfonts/leaguegothic-regular-webfont.woff');
}

.container{
    margin: 0 auto;
}

@media(max-width: 425px){
    .container{
        width:300px;
    }
}

@media(min-width: 425px){
    .container{
        width:380px;
    }
}

@media(min-width: 768px){
    .container{
        width:700px;
    }
}

@media(min-width: 1024px){
    .container{
        width:960px;
    }
}

@media(min-width: 1200px){
    .container{
        width:1140px;
    }
}

@media(min-width: 1460px){
    .container{
        width:1400px;
    }
}

/* HEADERS + NAVIGATION */

@media(max-width: 425px){
    img{
        height: 30px;
        width: 119px;
    }
}

@media(min-width: 425px){
    img{
        height: 40px;
        width: 158px;
    }
}

@media(min-width: 768px){
    img{
        height: 60px;
        width: 237px;
    }
}

@media(min-width: 1024px){
    img{
        height: 80px;
        width: 316px;
    }
}

@media(min-width: 1200px){
    img{
        height: 100px;
        width: 395px;
    }
}

header, ul, li, header a{
    font-family: 'Header-main';
    font-size: 18px;
    text-transform: uppercase;
    color: white !important;
}

nav.navbar-default{
    background: none;
    border:none;
    padding-left:10px;
}

li.active a{
    color: #DBBC8D !important;
    background-color: transparent !important;
}

header{
    padding-top:125px;
}

img{
    margin:auto;
}

li.dropdown.open a.dropdown-toggle, ul.dropdown-menu{
    background-color: #222222 !important;
    border-color:#222222;
    
}

li.dropdown.open a.dropdown-toggle{
    margin-top:8px;
    padding: 7px 7px 15px 15px;
    border-radius: 6px 6px 0px 0px;
    color: #DBBC8D !important;
}

li.dropdown.open ul li a:before {
    font-family: 'Header-main';
    content: "\00bb\0020\0020";
    font-weight: bold;
    white-space: pre;
    color: #555555;
}

ul.dropdown-menu li a:hover{
    background-color: #222222 !important;
    color: #DBBC8D !important;
}

ul.dropdown-menu li a:hover:before{
    color: #A41807 !important;
}

#current-menu{
    text-transform: none;
    font-family: sans-serif;
    font-size:10px;
    font-weight: normal;
    padding-left:25px;
    color: #676767;
}

.submenu{
    color: #8e8e8e;
}


/* FOOTER */

#footer{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,2c2c2c+20,2c2c2c+50,2c2c2c+80,000000+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(left,  #000000 0%, #2c2c2c 20%, #2c2c2c 50%, #2c2c2c 80%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #000000 0%,#2c2c2c 20%,#2c2c2c 50%,#2c2c2c 80%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #000000 0%,#2c2c2c 20%,#2c2c2c 50%,#2c2c2c 80%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    box-shadow: 0 -5px 5px -5px #4E4E4E;
   /* position:absolute;*/
	width:100%;
	bottom:0; /* stick to bottom */
}

footer div.footer-menu{
    font-family: 'Header-main';
    font-size: 18px;
    text-transform: uppercase;
    color: #DBBC8D !important;
    float:left;
    margin-left:50px;
}

footer div.footer-menu ul{
    list-style-type: none;
}

footer div.footer-menu ul a{
    color:white;
}

footer div.footer-menu ul a:hover{
    text-decoration: none;
}

footer ul li a:before {
    font-family: 'Header-main';
    content: "\00bb\0020\0020";
    font-weight: bold;
    white-space: pre;
    color: #555555;
}

footer ul li a:hover:before{
    color: #A41807 !important;
}

div.footer-menu.right{
    float:right;
    margin:0;    
    width:33%;
    text-align: center;    
}

div.footer-menu.left{
    float:left;
    margin:0;
    width:33%;
    text-align: center;
}

div.footer-menu.center{
    margin:0 auto;
    width:33%;
    text-align: center;
}

footer ul{
    padding: 0px;;
}

footer{
    padding-top:45px;
}

footer div.menu{
    padding-bottom: 80px;
}

footer #author{
    color: #626262;
    float:right;
    padding-bottom: 30px;
    
}

footer .accent{
    color: #969696;
    font-weight: bold;
}


/* MAIN HOME */

@media(max-width: 425px){
    .main img{
        width: 200px;
        height: auto;
    }
    .post-mini{
        width:210px;
    }
}

@media(min-width: 425px){
    img{
        height: 40px;
        width: 158px;
    }
}

@media(min-width: 768px){
    img{
        height: 60px;
        width: 237px;
    }
}

@media(min-width: 1024px){
    img{
        height: 80px;
        width: 316px;
    }
}

@media(min-width: 1200px){
    img{
        height: 100px;
        width: 395px;
    }
}

.main{
    padding-left: 10px;
    margin-top:15px;
}

.main img{
    display:block;
    margin: auto;
    border: 1px solid #969696;
    margin-bottom:15px;
}
.post-mini{
    background: white;
    padding-top:5px;
}